:root {
  --sidebar-background: 222 14% 14%;
  --sidebar-foreground: 0 0% 67%;
  --sidebar-border: 222 14% 20%;
  --sidebar-accent: 222 14% 18%;
  --sidebar-accent-foreground: 0 0% 100%;
  --sidebar-ring: 261 51% 51%;
}

.dark {
  --sidebar-background: 222 14% 14%;
  --sidebar-foreground: 0 0% 67%;
  --sidebar-border: 222 14% 20%;
  --sidebar-accent: 222 14% 18%;
  --sidebar-accent-foreground: 0 0% 100%;
  --sidebar-ring: 261 51% 51%;
}
